html
{
    scroll-behavior: smooth;
}
body
{
    margin:0;
    padding:0;
}
.menu
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009688;
    font-family: open,"sans",sans-serif;
    color:white;
    padding:4px;
}
.menu1
{
    display:flex;
    align-items: center;
    /* justify-content:space-between; */
    padding-left:15px;
    gap:10px;
    cursor: pointer;
}
.menu2
{
    display:flex;
    align-items:center;
    gap:8px;
    margin-right: 10px;
    cursor: pointer;
}
.navbar
{
    background-color:black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0px;
    z-index:1;
}
.navbar1
{
    padding-left:10px;
    cursor: pointer;
}
.navbar2 a
{
    text-decoration: none;
    color:white;
    font-family: open,"sans",sans-serif;
    padding:8px;
}
.navbar2 a:hover
{
    color:#009688;
}
.toggleid,#toggle
{
    display:none;
}
.content
{
    position:absolute;
    top:330px;
    left:200px;
    color:rgb(245, 241, 241);
    font-family: open,"sans",sans-serif;
}
.content h1
{
    font-size: 40px;
}
.content h4,.content p
{
    font-size: larger;
}
.content button
{
    background-color: #009688;
    color:white;
    border:none;
    padding:25px 45px;
    border-radius: 10px;
}
.selection
{
    border:2px solid rgb(236, 233, 233);
    margin:50px 100px;
    color: gray;
    font-family: "Open Sans", sans-serif;
    padding:50px 20px;
    box-shadow: 1px 1px 20px 0px rgb(83, 83, 83);
}
.selection h2
{
    color:rgb(78, 78, 78);
    font-family: "Open Sans", sans-serif;
}
.selection1
{
    display:flex;
    justify-content: space-evenly;
    margin:0 20px;
}
.selection2
{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    margin-right:20px;
}

.selection button
{
    background-color: #009688;
    color:white;
    border:none;
    border-radius: 5px;
    padding:20px 50px;
    margin: 30px 0 10px 470px;
}
.box
{
    border:none;
    background-color: rgb(242 242 242);
    font-family: "Open Sans", sans-serif;
    padding:8px 230px 10px 10px;
    margin-left: 3px;
}
.feature
{
    display:flex;
    margin:40px 100px;
    gap:20px;
    font-family: "Open Sans", sans-serif;
    color:black;
}
.fea1
{
    border:2px solid rgb(219, 215, 215);
    text-align: center;
    padding:80px 30px;
    border-radius: 5px;
}
.fea2
{
    border:2px solid rgb(221, 215, 215);
    text-align: center;
    padding:80px 30px;
    border-radius: 5px;
}
.fea3
{
    border:2px solid rgb(228, 219, 219);
    text-align: center;
    padding:90px 30px 80px 30px;
    border-radius: 5px;
}
.fea1:hover,.fea2:hover,.fea3:hover
{
    background-color: #009688;
    color:white;
}
.text
{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.text h1
{
    color:gray;
}
.newcar
{
    display:flex;
    margin:20px 50px;
    
}
.newcar1
{
    padding:10px 80px;
}
.newcar2
{  
    padding:30px 130px 30px 10px;
    margin:5px 10px 50px 10px;
    line-height: 23px;
    font-family: "Open Sans", sans-serif;
}
.newcar2 p
{
    color:gray;
}
.newcar2 button
{
    background-color: #009688;
    color:white;
    border: none;
    border-radius: 5px;
    padding:15px 30px;
}
.checkcontent
{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.checkcontent h1
{
    color:gray;
}
.checkcontent p
{
    font-size: small;
}
.collection
{
    display:flex;
    padding:10px 80px;
    gap:20px;
    font-family: "Open Sans", sans-serif;
}
.collection div
{
    border:2px solid rgb(231, 228, 228);
    padding:10px;
    border-radius: 5px;
}
.collection img
{
    height:80px;
    width:120px;
    padding:20px 10px 20px 50px;
}
.collection h4
{
    font-weight:100;
    color:gray;
}
.collection p
{
    font-weight: 700;
}
.w1 img
{
    height:100px;
    width:150px;
    padding:30px 20px;
}
.client
{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding:20px 0px;
    color:gray;
}
.clientcommand
{
    display:flex;
    gap:20px;
    text-align: center;
    padding:10px 100px;
    font-family: "Open Sans", sans-serif;
}
.clientcommand div
{
    padding:30px 10px;
    border:2px solid rgb(230, 227, 227);
    border-radius: 5px;
}
.clientcommand p
{
    font-weight: 500;
}
.clientcommand h4
{
    font-weight:100;
    color:gray;
}
.clientcommand div:hover,.clientcommand div:hover h4
{
    background-color: #009688;
    color:white;
}
.logo
{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap:10px;
    justify-content: space-around;
    padding:50px 100px;
}
.final
{
    background-color: black;
    color:white;
    display:grid;
    gap:20px;
    grid-template-columns: repeat(5,1fr);
    padding:20px 100px;
    font-family: "Open Sans", sans-serif;
}
.final h1
{
    font-family: none;
}
.final input
{
    background-color: black;
    border:1px solid black ;
    border-radius:4px;
    padding:5px;
    box-shadow:2px 2px 5px 1px rgb(197, 196, 196);
}
.move p:hover
{
    margin-left:10px;
}
.p 
{
    line-height: 28px;
}
.foot
{
    background-color:#009688;
    color:white;
    font-family: "Open Sans", sans-serif;
    font-size:smaller;
    padding:2px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot a{
    text-decoration: none;
    color:white;
}

/* responsive in 1440px */
@media screen and (max-width:1440px){
    .navbar2 a
    {
        padding:0px 20px;
    }
}

@media screen and (max-width:1024px){
    .navbar1
    {
        padding-right:40px;
    }
    .navbar2 a
    {
       padding:7px;
    }
    .content
    {
        top:300px;
        left:60px;
    }
    .selection
    {
        border:2px solid rgb(236, 233, 233);
        margin:50px 50px;
        color: gray;
        font-family: "Open Sans", sans-serif;
        padding:40px 15px;
        box-shadow: 1px 1px 20px 0px rgb(83, 83, 83);
    }
    .selection h2
    {
        color:rgb(78, 78, 78);
        font-family: "Open Sans", sans-serif;
    }
    .selection1
    {
        display:flex;
        justify-content: space-evenly;
        margin:0 20px;
    }
    .selection2
    {
        display:flex;
        justify-content: space-evenly;
        gap:10px;
        margin-right:20px;
    }

    .selection button
    {
        border:none;
        border-radius: 5px;
        padding:20px 50px;
        margin: 30px 0 10px 520px;
    }
    .box
    {
        padding:20px 180px 20px 10px ;
    }
    .selection button
    {
        margin:10px 10px 10px 350px;
        padding:20px 60px;
    }
    .feature
    {
        display:flex;
        /* flex-direction:column; */
        margin:10px 20px;
        gap:8px;
        font-family: "Open Sans", sans-serif;
        color:black;
    }
    .fea1
    {
       /* margin:10px 40px 10px 40px; */
       padding:80px 50px;
    }
    .fea2
    {
        /* margin:10px 40px 10px 40px; */
       padding:80px 50px;
    }
    .fea3
    {
        /* margin:10px 40px 10px 40px; */
        padding:80px 50px;
    }
    .text
    {
        text-align: center;
        font-size:medium;
        margin:80px 20px;
    }
    .newcar
    {
        display:flex;  
    }
    .newcar1 img
    {
        height:300px;
        width:400px;
    }
    .newcar1
    {
       margin:0;
       padding:10px 30px;
    }
    .newcar2
    {  
        padding:10px 40px;
    }
    .newcar2 button
    {
        border: none;
        border-radius: 5px;
        padding:15px 25px;
    }
    .logo
    {
        display:grid;
        grid-template-columns: repeat(6,1fr);
        gap:10px;
        justify-content: space-around;
        padding:50px 100px;
    }
    .final
    {
        background-color: black;
        color:white;
        display:grid;
        gap:60px;
        grid-template-columns: repeat(6,1fr);
        padding:40px 10px 40px 50px;
        font-family: "Open Sans", sans-serif;
    }
    .final h1
    {
        font-family: none;
    }
    .final input
    {
        background-color: black;
        border:1px solid black ;
        border-radius:4px;
        padding:8px 30px 8px 8px;
        box-shadow:2px 2px 5px 1px rgb(197, 196, 196);
    }
    .move p:hover
    {
        margin-left:5px;
    }
    .p
    {
        line-height:25px;
    }
    .foot
    {
        background-color:#009688;
        color:white;
        font-family: "Open Sans", sans-serif;
        font-size:medium;
        padding:5px 50px;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }

}

/* responsive in 768px */
@media screen and (max-width:768px){
    .navbar2{
        width:720px !important;
    }
    .menu
    {
        display:none;
    }
    .navbar2
    {
        display:none;
        padding:20px;
    }
    .toggleid
    {
        display:flex;
        padding:5px 5px;
        margin:10px;
        border:1px solid rgb(192, 188, 188);
        border-radius:5px;
    }
    #toggle:checked~.navbar2
    {
        display:flex;
        flex-direction: column;
        position:absolute;
        top:70px;
        left:0;
        background-color: black;
        color:white;
        width:100%;
    }
    .navbar2 a
    {
        margin:5px;
    }
    .navbar
    {
        position:sticky;
        top:0;
    }
    .content
    {
        top:180px;
        left:30px;
    }
    .content h1
    {
        font-size: 40px;
    }
    .content h4,.content p
    {
        font-size:medium;
    }
    .selection
    {
        margin:30px 70px; 
    }
    .selection1
    {
        display:flex;
        flex-direction:column;
    }
    .selection2
    {
        display:flex;
        flex-direction:column;
        margin-left:20px;
    }
    .box
    {
        padding:10px 400px 10px 10px;
    }
    .selection button
    {
        margin-left:215px;
    }
    .feature
    {
        display:flex;
        flex-direction:column;
        margin:10px 20px;
        gap:10px;
        font-family: "Open Sans", sans-serif;
        color:black;
    }
    .fea1
    {
       margin:10px 50px 10px 50px;
       padding:80px 50px;
    }
    .fea2
    {
        margin:10px 50px 10px 50px;
        padding:80px 50px;
    }
    .fea3
    {
        margin:10px 50px 10px 50px;
        padding:80px 50px;
    }
    .text
    {
        text-align: center;
        font-size:medium;
        margin:80px 20px;
    }
    .newcar
    {
        display:flex;
        flex-direction: column;  
        margin:20px 10px;
    }
    .newcar1 img
    {
        height:420px;
        width:700px;
    }
    .newcar1
    {
       margin:0;
       padding:10px 30px;
    }
    .newcar2
    {  
        padding:10px 40px;
    }
    .newcar2 button
    {
        border: none;
        border-radius: 5px;
        padding:15px 25px;
    }
    .collection
    {
        display:flex;
        flex-direction: column;
        padding:10px 20px;
        gap:20px;
        font-family: "Open Sans", sans-serif;
    }
    .collection div
    {
        border:2px solid rgb(231, 228, 228);
        padding:6px;
        border-radius: 5px;
    }
    .collection img
    {
        height:300px;
        width:400px;
        padding:20px 10px 20px 150px;
    }
    .collection h4
    {
        font-weight:300;
        color:gray;
    }
    .collection p
    {
        font-weight:800;
    }
    .w1 img
    {
        height:300px;
        width:400px;
        padding:20px 10px 20px 150px;
    }
    .clientcommand
    {
        display:flex;
        flex-direction: column;
        gap:20px;
        text-align: center;
        padding:10px 50px;
        font-family: "Open Sans", sans-serif;
    }
    .clientcommand div
    {
        padding:50px;
        border:2px solid rgb(230, 227, 227);
        border-radius: 5px;
    }
    .clientcommand p
    {
        font-weight:900;
    }
    .clientcommand h4
    {
        font-weight:600;
        color:gray;
    }
    .logo
    {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:70px;
        justify-content: space-around;
        padding:50px 150px;
    }
    .final
    {
        background-color: black;
        color:white;
        display:grid;
        gap:20px;
        grid-template-columns: repeat(2,1fr);
        padding:20px 40px;
        font-family: "Open Sans", sans-serif;
    }
    .final h1
    {
        font-family: none;
    }
    .final input
    {
        background-color: black;
        border:1px solid black ;
        border-radius:4px;
        padding:8px 80px 8px 8px;
        box-shadow:2px 2px 5px 1px rgb(197, 196, 196);
    }
    .move p:hover
    {
        margin-left:5px;
    }
    .p
    {
        line-height: 40px;
    }
    .foot
    {
        background-color:#009688;
        color:white;
        font-family: "Open Sans", sans-serif;
        font-size:medium;
        padding:5px 30px;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    

}

/* responsive in 425px */
@media screen and (max-width:425px){

    .navbar2{
        width:380px !important;
    }
    
    .selection
   {
    margin:20px 40px;
   }
   .selection1
   {
    display:flex;
    flex-direction: column;
   }
   .selection2
   {
    display:flex;
    flex-direction: column;
    margin-left:20px;
   }
   .selection button
   {
    margin-left:70px;
   }
   .box
   {
    padding:10px 100px 10px 5px;
   }
   .feature
    {
        display:flex;
        flex-direction:column;
        margin:10px 20px;
        gap:10px;
        font-family: "Open Sans", sans-serif;
        color:black;
    }
    .fea1
    {
       margin:5px 10px 5px 10px;
       padding:50px 30px;
    }
    .fea2
    {
       margin:5px 10px 5px 10px;
       padding: 50px 30px;
    }
    .fea3
    {
       margin:5px 10px 5px 10px;
       padding:50px 30px;
    }
    .text
    {
        text-align: center;
        font-size:medium;
        margin:70px 20px;
    }
    .newcar
    {
        display:flex;
        flex-direction: column;  
        margin:20px 10px;
    }
    .newcar1 img
    {
        height:300px;
        width:380px;
    }
    .newcar1
    {
       margin:0;
       padding:10px 10px;
    }
    .newcar2
    {  
        padding:10px 2px;
    }
    .newcar2 button
    {
        border: none;
        border-radius: 5px;
        padding:10px 20px;
    }
    .collection
    {
        display:flex;
        flex-direction: column;
        padding:10px 20px;
        gap:20px;
        font-family: "Open Sans", sans-serif;
    }
    .collection div
    {
        border:2px solid rgb(231, 228, 228);
        padding:6px;
        border-radius: 5px;
    }
    .collection img
    {
        height:100px;
        width:180px;
        padding:20px 10px 20px 100px;
    }
    .collection h4
    {
        font-weight:100;
        color:gray;
    }
    .collection p
    {
        font-weight: 700;
    }
    .w1 img
    {
        height:100px;
        width:180px;
        padding:20px 10px 20px 100px;
    }
    .clientcommand
    {
        display:flex;
        flex-direction: column;
        gap:20px;
        text-align: center;
        padding:10px 10px;
        font-family: "Open Sans", sans-serif;
    }
    .clientcommand div
    {
        padding:50px 10px;
        border:2px solid rgb(230, 227, 227);
        border-radius: 5px;
    }
    .logo
    {
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:30px;
        justify-content: space-around;
        padding:50px 150px;
    }
    .final
    {
        background-color: black;
        color:white;
        display:grid;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
        padding:20px 20px;
        font-family: "Open Sans", sans-serif;
    }
    .final h1
    {
        font-family: none;
    }
    .final input
    {
        background-color: black;
        border:1px solid black ;
        border-radius:4px;
        padding:8px 80px 8px 8px;
        box-shadow:2px 2px 5px 1px rgb(197, 196, 196);
    }
    .move p:hover
    {
        margin-left:5px;
    }
    .p
    {
        line-height: 40px;
    }
    .foot
    {
        background-color:#009688;
        color:white;
        font-family: "Open Sans", sans-serif;
        font-size:medium;
        padding:10px 24px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
    }
    .foot .i
    {
        margin-right:240px;
    }

}

/* responsive in 375px */
@media screen and (max-width:375px){

    
    .navbar2{
        width:330px !important;
    }
    .content h1
    {
        font-size:30px;
    }
    .content h4,.content p
    {
        font-size:medium;
    }
    .content button
    {
        background-color: #009688;
        color:white;
        border:none;
        padding:15px 35px;
        border-radius:5px;
    }
    .selection
    {
        margin:5px 1px;
        margin:10px 30px;
    }
    .box
    {
        padding:5px 110px 5px 5px;
    }
    .selection button
    {
        margin:15px 10px 10px 75px;
        padding:20px 45px;
    }        
    .feature
    {
        display:flex;
        flex-direction:column;
        margin:10px 20px;
        gap:10px;
        font-family: "Open Sans", sans-serif;
        color:black;
    }
    .fea1
    {
       margin:5px 10px 5px 10px;
       padding:30px;
    }
    .fea2
    {
       margin:5px 10px 5px 10px;
       padding:30px;
    }
    .fea3
    {
       margin:5px 10px 5px 10px;
       padding:30px;
    }
    .text
    {
        text-align: center;
        font-size:medium;
        margin:70px 20px;
    }
    .newcar
    {
        display:flex;
        flex-direction: column;  
        margin:20px 10px;
    }
    .newcar1 img
    {
        height:180px;
        width:300px;
    }
    .newcar1
    {
       margin:0;
       padding:10px 20px;
    }
    .newcar2
    {  
        padding:10px;
    }
    .newcar2 button
    {
        border: none;
        border-radius: 5px;
        padding:10px 20px;
    }
    .checkcontent
    {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        margin:20px 50px;
    }
    .checkcontent h1
    {
        color:gray;
        font-weight: 300;
    }
    .checkcontent p
    {
        font-size: smaller;
    }
    .collection
    {
        display:flex;
        flex-direction: column;
        padding:10px 20px;
        gap:20px;
        font-family: "Open Sans", sans-serif;
    }
    .collection div
    {
        border:2px solid rgb(231, 228, 228);
        padding:6px;
        border-radius: 5px;
    }
    .collection img
    {
        height:80px;
        width:140px;
        padding:20px 10px 20px 70px;
    }
    .collection h4
    {
        font-weight:100;
        color:gray;
    }
    .collection p
    {
        font-weight: 700;
    }
    .w1 img
    {
        height:100px;
        width:150px;
        padding:20px 10px 20px 70px;
    }
    .client
    {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        padding:20px 10px;
        font-size:smaller;
        color:gray;
    }
    .clientcommand
    {
        display:flex;
        flex-direction: column;
        gap:20px;
        text-align: center;
        padding:10px 10px;
        font-family: "Open Sans", sans-serif;
    }
    .clientcommand div
    {
        padding:50px 10px;
        border:2px solid rgb(230, 227, 227);
        border-radius: 5px;
    }
    .logo
    {
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:30px;
        justify-content: space-around;
        padding:50px 130px;
    }


    .final
    {
        background-color: black;
        color:white;
        display:grid;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
        padding:20px 20px;
        font-family: "Open Sans", sans-serif;
    }
    .final h1
    {
        font-family: none;
    }
    .final input
    {
        background-color: black;
        border:1px solid black ;
        border-radius:4px;
        padding:8px 60px 8px 8px;
        box-shadow:2px 2px 5px 1px rgb(197, 196, 196);
    }
    .move p:hover
    {
        margin-left:5px;
    }
    .foot
    {
        background-color:#009688;
        color:white;
        font-family: "Open Sans", sans-serif;
        font-size:medium;
        padding:10px 8px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
    }
    .foot .i
    {
        margin-right:210px;
    }
}


/* responsive in 320px */
@media screen and (max-width:320px) 
{

    .navbar2{
        width:280px !important;
    }
    .content
    {
        position:absolute;
        top:150px;
        left:10px;
        color:white;
        font-family: open,"sans",sans-serif;
    }
    .content h1
    {
        font-size: 30px;
    }
    .content h4,.content p
    {
        font-size:medium;

    }
    .content button
    {
        background-color: #009688;
        color:white;
        border:none;
        padding:25px 45px;
        border-radius: 10px;
    }
    .selection
    {
        padding:5px;
        margin:10px 30px;
    }
    .selection1
    {
        display:flex;
        flex-direction:column;
    }
    .selection2
    {
        display:flex;
        flex-direction: column;
    }
    .box
    {
        padding:10px 50px 10px 10px;
        margin:1px;
    }
    .selection button
    {
        margin:20px 20px 20px 70px;
        padding:15px 30px;
    }
    .feature
    {
        display:flex;
        flex-direction:column;
        margin:10px 20px;
        gap:10px;
        font-family: "Open Sans", sans-serif;
        color:black;
    }
    .fea1
    {
       margin:5px 10px 5px 10px;
       padding:10px 30px;
    }
    .fea2
    {
       margin:5px 10px 5px 10px;
       padding:10px 30px;
    }
    .fea3
    {
       margin:5px 10px 5px 10px;
       padding:10px 30px;
    }
    .text
    {
        text-align: center;
        font-size: small;
        margin:50px 20px;
    }
    .text h1
    {
        font-weight: 300;
    }
    .newcar
    {
        display:flex;
        flex-direction: column;  
        margin:20px 10px;
    }
    .newcar1 img
    {
        height:180px;
        width:300px;
    }
    .newcar1
    {
       margin:0;
       padding:10px 5px;
    }
    .newcar2
    {  
        padding:2px;
    }
    .newcar2 button
    {
        border: none;
        border-radius: 5px;
        padding:10px 20px;
    }
    .checkcontent
    {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        margin:20px 50px;
    }
    .checkcontent h1
    {
        color:gray;
        font-weight: 300;
    }
    .checkcontent p
    {
        font-size: smaller;
    }
    .collection
    {
        display:flex;
        flex-direction: column;
        padding:10px 20px;
        gap:20px;
        font-family: "Open Sans", sans-serif;
    }
    .collection div
    {
        border:2px solid rgb(231, 228, 228);
        padding:6px;
        border-radius: 5px;
    }
    .collection img
    {
        height:80px;
        width:140px;
        padding:20px 10px 20px 70px;
    }
    .collection h4
    {
        font-weight:100;
        color:gray;
    }
    .collection p
    {
        font-weight: 700;
    }
    .w1 img
    {
        height:100px;
        width:150px;
        padding:20px 10px 20px 70px;
    }
    .client
    {
        text-align: center;
        font-family: "Open Sans", sans-serif;
        padding:20px 15px;
        font-size:smaller;
        color:gray;
    }
    .clientcommand
    {
        display:flex;
        flex-direction: column;
        gap:20px;
        text-align: center;
        padding:10px 10px;
        font-family: "Open Sans", sans-serif;
    }
    .clientcommand div
    {
        padding:30px 10px;
        border:2px solid rgb(230, 227, 227);
        border-radius: 5px;
    }
    .logo
    {
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:30px;
        justify-content: space-around;
        padding:50px 100px;
    }
    .final
    {
        background-color: black;
        color:white;
        display:grid;
        gap:20px;
        grid-template-columns: repeat(1,1fr);
        padding:20px 20px;
        font-family: "Open Sans", sans-serif;
    }
    .final h1
    {
        font-family: none;
    }
    .final input
    {
        background-color: black;
        border:1px solid black ;
        border-radius:4px;
        padding:8px 40px 8px 8px;
        box-shadow:2px 2px 5px 1px rgb(197, 196, 196);
    }
    .move p:hover
    {
        margin-left:10px;
    }
    .foot
    {
        background-color:#009688;
        color:white;
        font-family: "Open Sans", sans-serif;
        font-size:smaller;
        padding:10px 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
    }
    .foot .i
    {
        margin-right:180px;
    }
}